.container {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.instruments {
    padding-left: 81px;
}

.instruments-title {
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #252527;
}

.instruments-logos {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 50px;
}

.instruments-logos__item {
    padding-right: 50px;
}

.instruments-subtitle {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    /*text-align: center;*/
    /*margin-left: -600px;*/
    padding-bottom: 25px;
}

.instruments-connections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruments-connections__item {
    padding-right: 70px;
}

.review-title {
    display: flex;
    align-items: flex-start;
}

.review {
    background: #F1F1F1;
}

.review-title h2 {
    width: 404px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #252527;
    padding-right: 21px;
}

.review-title img {
    padding-top: 10px;
}